@(title: Html, nav: String = "")(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>Form samples</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script type="text/javascript" src="http://jzaefferer.github.com/jquery-validation/jquery.validate.js"></script>
    </head>
    <body>
        
        <div class="topbar">
            <div class="fill">
                <div class="container">
                    <a class="brand" href="@routes.Application.index()">Forms</a>
                    <ul class="nav">
                        <li class="@("active".when(nav == "comment"))">
                            <a href="@routes.Comments.form">Comments</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">

            <div class="content">
                
                <div class="page-header">
                    <h1>@title</h1>
                </div>

                <div class="row">
                    <div class="span14">
                        @content
                    </div>
                </div>
                
            </div>

            <footer>
                <p>
                    <a href="http://www.playframework.org">www.playframework.org</a>
                </p>
            </footer>

        </div>
        
    </body>
</html>
