@(js: String => String, myForm: Form[Fields])
@import helper._
@import helper.twitterBootstrap._

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" 
                    "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Fields</title>
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script type="text/javascript" src="http://jzaefferer.github.com/jquery-validation/jquery.validate.js"></script>
<style type="text/css">
.help-block { display:none; }
</style>
  <script>
    @Html(js("#myForm"))
  </script>

</head>
<body>

@form(action = routes.Application.ok, args = 'id -> "myForm") {
  @inputText(myForm("a"))
  @inputText(myForm("b"))
  @inputText(myForm("c"))
  @inputText(myForm("d"))
  <input type="submit" />
}
